<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/day27e/src/cn/itcast/net/p3/iegui/MyBrowseGUI.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cn.itcast.net.p3.iegui.MyBrowseGUI"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="day27e"/>
</launchConfiguration>
